.container{
    border: 5px solid black;
    text-align: center;
    margin: 5px;
    display: grid;
    /* grid-auto-flow:column; */
    grid-template-columns: repeat(3,415px);
    grid-template-rows: repeat(3,150px);
    /* row-gap: 2px; */
    /* column-gap: 5px; */
    /* justify-items: center; */
    /* align-items: center; */
    place-items: center;
    /* justify-content: center; */
    /* align-content: center; */
    /* place-content: center; */
    /* grid-auto-flow: column; */

}
.grid{
     padding: 10px;
     color: white;
     /* justify-self: end; */
     /* align-self: start; */
     /* place-self: center; */
}
.box1{background-color:brown;
/* grid-column: 1/span 2; */}
.box2{background-color:blueviolet;
/* grid-row: 1/span 2; */}
.box3{background-color:red;}
.box4{background-color:blue;}
.box5{background-color:yellowgreen;}
.box6{background-color:orange;}
.box7{background-color:purple;}
.box8{background-color:tomato;}
.box9{background-color:gray;}